<h1>User info</h1>
<img src="図面"　alt="image">
<p class="profile-name"><%= @user.name %></p>
<p>introdacution</p>
<button type="button" class="glyphicon glyphicon-wrench"></button>
<h1>Books</h1>
<p>Title</p>
<p>opinion</p>
<h1>New book</h1>
<P>Title</P>
<p>opinion</p>
<button type="button" class="btn btn-info">Create Book</button>