icon<br>
<div class="glyphicon glyphicon-home"></div>　ホーム
<div class="glyphicon glyphicon-link"></div>　アバウト
<div classs="glyphicon glyphicon-edit"></div>　新規登録
<div class="glyphicon glyphicon-log-in"></div> ログイン
<div class="glyphicon glyphicon-log-out"></div>　ログアウト
<div class="glyphicon glyphicon-user"></div>　ユーザー
<div class="glyphicon glyphicon-wrench"></div>　設定


<h1>welcome to <span class="glyphicon glyphicon-book"><strong>Bookers</strong></span>!!</h1>
<p>In <span class="glyphicon glyphicon-book"><strong>Bookers</strong></span>,</p>
<p>you can share and exchange your opinions, inpressions, and emotions</p>
<p>about various books!</p>

<%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-lg" %>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>

